.layout {
  display: flex;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.layout-main {
  flex: 1;
  margin-left: calc(var(--sidebar-width) - 30px);
  padding: 0 2rem 1.75rem;
  min-width: 0;
}

@media (max-width: 768px) {
  .layout-main {
    margin-left: 0;
    padding: 1rem;
  }
}
